
.textarea-spacing{
    margin: 0px 0px 10px 0px;
    padding: 2px;
    border: none;
    width: 100%;
}

.label-spacing{
    margin: 5px 0px 2px 0px;
    padding: 2px;
    font-weight: bold;
}

.label-default-by-item{
    color: var(--default-color);
}

.label-green-by-item{
    color: var(--green-color);
}

.label-peach-by-item{
    color: var(--peach-color);
}

.label-purple-by-item{
    color: var(--purple-color);
}

.label-red-by-item{
    color: var(--red-color);
}

.textarea-default-by-item{
    border-bottom: 2px solid var(--default-color);
}

.textarea-green-by-item{
    border-bottom: 2px solid var(--green-color);
}

.textarea-peach-by-item{
    border-bottom: 2px solid var(--peach-color);
}

.textarea-purple-by-item{
    border-bottom: 2px solid var(--purple-color);
}

.textarea-red-by-item{
    border-bottom: 2px solid var(--red-color);
}

:is(.textarea-default-by-item,
.textarea-green-by-item,
.textarea-peach-by-item,
.textarea-purple-by-item,
.textarea-red-by-item){
    resize: none;
    outline: none;
}

:is(.textarea-default-by-item,
.textarea-green-by-item,
.textarea-peach-by-item,
.textarea-purple-by-item,
.textarea-red-by-item):focus{
    border-bottom: 2px solid var(--kabul-color);

    &.textarea-red-by-item{
        border-bottom: 2px solid var(--red-color);
    }

    &.textarea-default-by-item{
        border-bottom: 2px solid var(--viridian-color);
    }
}


