

.Linkbutton-link-container, 
.Linkbutton-edit-container, 
.Linkbutton-delete-container,
.Linkbutton-submit-container,
.Linkbutton-back-container,
.Linkbutton-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 1px;
    background-color: var( --transparent-color);
    border: 0px;
}

.Linkbutton-edit-container{
    background-color: var(--peach-color);
}

.Linkbutton-delete-container{
    background-color: var(--purple-color);
}

.Linkbutton-submit-container{
    background-color: var(--green-color);
}

.Linkbutton-back-container{
    background-color: var(--gray-color);
}

.Linkbutton-info-container{
    background-color: var(--viridian-color);
}

.Linkbutton-link-item, 
.Linkbutton-edit-item,
.Linkbutton-delete-item,
.Linkbutton-submit-item, 
.Linkbutton-back-item,
.Linkbutton-info-item{
    text-decoration: none;
    margin: 4px;
    font-weight: bold;
    color: var(--white-color);
    
    &.Linkbutton-link-item{
    color: var(--default-color);
    }
}

:is(.Linkbutton-link-item, 
.Linkbutton-edit-item, 
.Linkbutton-delete-item, 
.Linkbutton-submit-item, 
.Linkbutton-back-item,
.Linkbutton-info-item):hover{
    text-decoration: line-through;
    text-decoration-color: var(--kabul-color);

    &.Linkbutton-link-item{
        text-decoration-color: var(--purple-color);
    }
}


