:root{
  --default-color: #222b27;
  --peach-color: #db9377;
  --purple-color: #a6677e;
  --green-color: #51745e;
  --gray-color: #798184;
  --kabul-color: #644e49;
  --white-color: #fff;
  --beige-color: #ead9c2;
  --transparent-color: #ffffff00;
  --arrowtown-color: #92826b;
  --huricane-color: #938381;
  --viridian-color: #459682;
}

.App {
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
